body {
  background-image: url(/src/assets/images/barnboktipset-bg.png);
  background-size: cover;
  height: 100vh; 
  padding: 0;
  margin: 0;
}

/* div {
  animation: fadeInAnimation ease-in .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.navbar-container {
  animation: none !important; 
} */

/* input {
  background-color: #ffffff80;
  backdrop-filter: blur(4px);
  border: none; 
  border-radius: 4.3px;
  padding: .5em; 
} */


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h1, h2, h3 {
  font-family: "Inter", sans-serif !important;
  font-weight: 900 !important;
}

@media only screen and (min-width: 1000px) {
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}